
 .floating-label-input {
  position: relative;
}

.floating-label-input .input-heading {
  position: absolute;
  top: -10px;
  left: 16px;
  padding: 0 5px;
  font-size: 13px;
  background-color:#f9f9f9;
  color:black;
  font-weight: 500;
  z-index: 1;
}



.styled-input {
  padding: 10px 16px;
    width: 70%;

  font-size: 13px;
  border-radius: 15px;
  border: 2px solid #ccc;
  background-color: transparent;
  color: black;
  font-family: 'pippins',sans-serif;
}
.input-heading{
  margin-top: 0%;
}
.styled-input2 {
  width: 70%;
  padding: 10px 16px;
  font-size: 13px;
  border-radius: 15px;
  border: 2px solid #ccc;
  background-color: transparent;
  color: black;
  font-family: 'pippins',sans-serif;
}
.animated-input {
  position: relative;
  margin-top: 7px;
}

.animated-input label {
  position: absolute;
  top: 50%;
  left: 12px;
  color: #888;
  font-size: 16px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: 0.2s ease all;
  background-color: #fff;
  padding: 0 4px;
}

.admin-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.admin-sections{
   display: flex;
   justify-content: center;
   height: 100vh;
   padding-top: 50px;

} 

.admin-card{
   
  padding: 20px;
  width: 450px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.title{
    font-size: 24px;
}



.animated-input input:focus + label,
.animated-input input:not(:placeholder-shown) + label {
  top: -3px;
  left: 10px;
  font-size: 12px;
  color: #333;
}